librosa==0.10.1
numpy<2.0.0
opencv-contrib-python>=4.2.0.34
opencv-python==4.8.0.74
torch
torchvision
tqdm
numba
six
resampy
pandas
scikit-image
requests
gradio
spaces
python-multipart
uvicorn
fastapi
gfpgan
facexlib
realesrgan
